<footer class="x-footer">
    <div class="footer-container">
    <app-xlogo></app-xlogo>

    <span class="footer-text">© 2026 Xaviel Web. Todos los derechos reservados.</span>

    <ul class="footer-list">
        <li class="footer-item">
            <a class="footer-link" href="https://github.com/XavielT" target="_blank" rel="noopener noreferrer">
                <img class="footer-link-icon" src="assets/icons/github-hub.svg" />
                <span class="footer-item-name">GitHub</span>
            </a>
        </li>
        <li class="footer-item">
            <a class="footer-link" href="https://www.linkedin.com/in/xaviel-jose-terrero-cuevas-a6602821a/" target="_blank" rel="noopener noreferrer">
                <img class="footer-link-icon" src="assets/icons/linkedin-hub.svg" />
                <span class="footer-item-name">Linkedin</span>
            </a>
        </li>
        <li class="footer-item">
            <a class="footer-link" href="mailto:xavieljoseterrerocuevas9@gmail.com?subject=Portfolio%20Contact&body=Hello%20Xaviel" target="_blank">
                <img class="footer-link-icon" src="assets/icons/gmail-hub.svg" />
                <span class="footer-item-name">Gmail</span>
            </a>
        </li>
        <li class="footer-item">
            <a type="tel" class="footer-link" href="https://wa.me/18097799782?text=Hello%20Xaviel%2C%20I%20saw%20your%20portfolio" target="_blank">
                <img class="footer-link-icon" src="assets/icons/contact-hub.svg" />
                <span class="footer-item-name">Contact</span>
            </a>
        </li>
    </ul>
</div>
</footer>