.Xbar{
    background-color: var(--SpaceIndigo);
    margin-top: 1px;
    margin-left:auto;
    margin-right: auto;
    padding:5px 10px;
    border-radius:13px;
    max-width: fit-content;
    align-items: center;
    width: 600px;
    height: auto;
    box-shadow: 0px 0px 10px 1px var(--HubShadow);
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 20px;
    max-width: fit-content;
    align-items: center;
    justify-content: center;
    margin:5px 13px;
}

.nav-link{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
    font-family: 'Gefika', sans-serif;
}

.nav-link:hover{
    color: var(--Hub);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--Hub);
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
}