.Xbar{
    background-color: var(--SpaceIndigo);
    margin-top: 1px;
    margin-left:auto;
    margin-right: auto;
    padding:5px 10px;
    border-radius:10px;
    max-width: fit-content;
    align-items: center;
}