.xlogo-container{
    /*display: flex;
    align-items: center;
    margin-left:auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 1px;
    gap: 7px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 13px 0px 20px 0px;
    gap: 10px;
    
}

.x{
    font-size: 30px;
    font-family: 'ROLNER', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.xlogo-x{
    font-family: 'Spoiler-script', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

.xlogo-highlight{
    background-color: var(--Hub);
    border-radius: 8px;
    box-shadow: 0px 0px 8px 1.5px white;
    padding: 0px 8px;
    width: auto;
    height: auto;
}

.xlogo-span{
    color:black;
    font-family:'ROLNER', sans-serif;
    font-size: 30px;
}