/*home*/

.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
}

.home-title{
    margin: 30px 0;
    font-family: 'Gefika', 'Trebuchet SM';
    font-size: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Titles*/
.title{
    color:white;
    /*display: flex;
    flex-direction: column;*/
}

.title-highlight{
    color: var(--Hub);
}

.title-text{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

/*Buttons*/
.home-btns-container{
    gap: 20px;
    display: flex;
}

.home-btn, .home-btn-highlight{
    padding: 5px 10px;
    width: 200px;
    height: auto;
    font-family: 'ROLNER','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.home-btn{
    background-color: var(--Hub);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.home-btn-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.home-btn:hover, .home-btn-highlight:hover{
    
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 1px var(--HubShadow);
}

.home-btn:hover{
    box-shadow: 0px 0px 5px 1px var(--Hub);
}

.home-btn-highlight:hover{
    box-shadow: 0px 0px 5px 1px var(--HubShadow);
}

.home-btn:hover .home-btn-icon .home-btn-highlight:hover .home-btn-icon{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.home-btn-highlight{
    background-color: rgba(255, 255, 255, 0.200);
    border: 1px solid rgba(255, 255, 255, 0.350);
    color: white;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

