@tailwind base;
@tailwind components;
@tailwind utilities;

/*Colors Palette*/
:root {
    --Hub: #ffb300;
    --HubShadow: #d0d0d0;
    --SpaceIndigo: #2D3047;
    --HubDark: #ff8f00;
    --Bckgr_divs: rgba(98, 98, 98, 0.3);
    --Bckgr_divs2: rgba(0, 0, 0, 0.35);
    --Btn: #000000;
    --Btn_Gray: #333333;
    --Info: #acacac;
    --Black: #000000;
    --Bckg-pill: #ffffff59;
}

/*Fonts*/
@font-face {
    font-family: 'ROLNER';
    src: url(/assets/fonts/ROLNER/ROLNER.woff2) format('woff2'),
        url(/assets/fonts/ROLNER/ROLNER.woff) format('woff'),
        url(/assets/fonts/ROLNER/ROLNER.otf) format('opentype');
}

@font-face {
    font-family: 'Gefika';
    src: url(/assets/fonts/Gefika/Gefika.woff2) format('woff2'),
        url(/assets/fonts/Gefika/Gefika.woff) format('woff'),
        url(/assets/fonts/Gefika/Gefika.otf) format('opentype');
}

@font-face {
    font-family: 'Lemon-beach';
    src: url(/assets/fonts/lemon-beach/Lemon-Beach.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Work-krow';
    src: url(/assets/fonts/work-krow/Work-krow.otf) format('opentype'),
        url(/assets/fonts/work-krow/Work-krow.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spoiler-script';
    src: url(/assets/fonts/spoiler-script/Spoilers-Script.woff2) format('woff2'),
        url(/assets/fonts/spoiler-script/Spoilers-Script.woff) format('woff'),
        url(/assets/fonts/spoiler-script/Spoilers-Script.ttf) format('truetype');
}

@font-face {
    font-family: 'Ducks-Fiesta';
    src: url(/assets/fonts/Ducks-Fiesta/Ducks-Fiesta.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Super-Wonder';
    src: url(/assets/fonts/Super-Wonder/Super-Wonder.ttf) format('truetype');
}

/*Scrolls bars*/
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    display: none;
}

/* Firefox */
html {
    scrollbar-width: none;
}

body {
    /* IE / Edge antiguo */
    -ms-overflow-style: none;
    /*background: linear-gradient(to bottom, black 25%, var(--Hub) 75%);*/
    background:
        radial-gradient(circle at 50% 90%, rgba(255, 179, 0, 0.5), transparent 55%),
        #000000; /*#1a1919*/

    /*background:
        radial-gradient(ellipse 1200px 950px at 50% 92%,
            rgba(255, 179, 0, 0.65) 0%,
            rgba(255, 179, 0, 0.35) 25%,
            rgba(255, 179, 0, 0.15) 45%,
            rgba(255, 179, 0, 0.05) 60%,
            transparent 70%),
        #0b0b0b;*/
    margin: 0;
    min-height: 100vh;
    background-attachment: fixed;
}