.maintenance{
    background-color: rgba(0, 0, 0, 0.500);
    border: 5px dotted var(--Hub);
    border-radius: 30px;
    padding: 90px 10px;
    margin-top: 50px;
}

.maintenance-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.maintenance-title{
    color: whitesmoke;
    font-size: 28px;
    font-family: 'Gefika','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.maintenance-subtitle{
    color: var(--Hub);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
}

.maintenance-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.maintenance-img{
    width: 90px;
}

/*Responsive*/
@media (max-width: 415px) {
    .maintenance{
        border: 5px dotted var(--Hub);
        border-radius: 30px;
        padding: 30px 10px;
        margin-top: 40px;
    }

    .maintenance-title{
        font-size: 14px;
    }

    .maintenance-subtitle{
        font-size: 14px;
    }

    .maintenance-img{
        width: 50px;
    }
}

@media (min-width: 416px) {
    .maintenance{
        border: 5px dotted var(--Hub);
        border-radius: 30px;
        padding: 30px 10px;
        margin-top: 40px;
    }

    .maintenance-title{
        font-size: 14px;
    }

    .maintenance-subtitle{
        font-size: 14px;
    }

    .maintenance-img{
        width: 50px;
    }
}

@media (min-width: 700px) {
    .maintenance{
        border: 5px dotted var(--Hub);
        border-radius: 30px;
        padding: 50px 10px;
        margin-top: 40px;
    }

    .maintenance-title{
        font-size: 20px;
    }

    .maintenance-subtitle{
        font-size: 18px;
    }

    .maintenance-img{
        width: 70px;
    }
}

@media screen and (min-width: 1024px) {
    .maintenance{
        border: 5px dotted var(--Hub);
        border-radius: 30px;
        padding: 90px 10px;
        margin-top: 50px;
    }

    .maintenance-title{
        font-size: 28px;
    }

    .maintenance-subtitle{
        font-size: 20px;
    }

    .maintenance-img{
        width: 90px;
    }
}